div[mat-dialog-title] {
    text-align: center;
  }
  
  mat-dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 520px;
    box-sizing: border-box;
  }
  
  mat-form-field {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
  }
  
  .form-column {
    flex: 1;
    margin-right: 8px;
    box-sizing: border-box;
  }
  
  .form-column:last-child {
    margin-right: 0;
  }
  
  mat-dialog-actions {
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    padding: 8px 24px;
  }