<!-- src/app/components/letra-details-bottom-sheet/letra-details-bottom-sheet.component.html -->
<mat-nav-list>
  <h3>Detalles de la Letra</h3>
  <p><strong>Número:</strong> {{ data.numero }}</p>
  <p><strong>Cliente:</strong> {{ data.nombreCliente }}</p>
  <p><strong>Monto:</strong> {{ data.monto | currency:'S/':'symbol':'1.2-2' }}</p>
  <p><strong>TEA:</strong> {{ data.TEA | percent:'1.2-2' }}</p>
  <p><strong>TEP:</strong> {{ data.TEP | percent:'1.2-2' }}</p>
  <p><strong>Tasa Descontada:</strong> {{ data.tasaDescontada | percent:'1.2-2' }}</p>
  <p><strong>Descuento:</strong> {{ data.descuento | currency:'S/':'symbol':'1.2-2' }}</p>
  <p><strong>Valor Neto:</strong> {{ data.valorNeto | currency:'S/':'symbol':'1.2-2' }}</p>
  <p><strong>Valor Recibido:</strong> {{ data.valorRecibido | currency:'S/':'symbol':'1.2-2' }}</p>
  <p><strong>Valor Entregado:</strong> {{ data.valorEntregado | currency:'S/':'symbol':'1.2-2' }}</p>
  <p><strong>TCEA:</strong> {{ data.TCEA | percent:'1.2-2' }}</p>
  <!-- Agrega más detalles según sea necesario -->
</mat-nav-list>