<mat-nav-list>
  <mat-list-item routerLink="/history" routerLinkActive="active-link">
    <mat-icon matListIcon>history</mat-icon>
    <span class="list-item-content">Historial</span>
  </mat-list-item>
  <mat-list-item routerLink="/profile" routerLinkActive="active-link">
    <mat-icon matListIcon>account_circle</mat-icon>
    <span class="list-item-content">Mi cuenta</span>
  </mat-list-item>
  <mat-list-item routerLink="/download-history" routerLinkActive="active-link">
    <mat-icon matListIcon>cloud_download</mat-icon>
    <span class="list-item-content">Descargas</span>
  </mat-list-item>
</mat-nav-list>