<!-- login.component.html -->
<div class="login-container">
  <div class="login-items">
    <h2>Iniciar Sesión</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <mat-form-field appearance="outline">
        <mat-label>Usuario</mat-label>
        <input matInput formControlName="username" required>
      </mat-form-field>
      
      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" required>
        <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button">
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>

      <button mat-flat-button color="primary" type="submit">Iniciar Sesión</button>
    </form>
    <!-- Botón de registro debajo del login -->
    <button mat-button (click)="navigateToRegister()">Registrar Usuario</button>

    <p *ngIf="errorMessage">{{ errorMessage }}</p>
  </div>
</div>