/* src/app/user-profile-view/user-profile-view.component.css */
.profile-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #3f51b5;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  line-height: 70px; /* Asegura que la letra esté centrada verticalmente */
  text-align: center; /* Asegura que la letra esté centrada horizontalmente */
}

.profile-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.profile-container p {
  font-size: 16px;
  margin: 10px 0;
}