<!-- register.component.html -->
<div class="register-container">
  <div class="register-items"> 
    <h2>Registrar Usuario</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <mat-form-field appearance="outline">
        <mat-label>Usuario</mat-label>
        <input matInput formControlName="username" required>
      </mat-form-field>
      
      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="password" required type="password">
      </mat-form-field>

      <button mat-flat-button color="primary" type="submit">Registrar</button>
      <!-- Cambia el routerLink por un (click) para llamar a navigateToLogin -->
      <button mat-button (click)="navigateToLogin()">Volver al Iniciar Sesión</button>
    </form>
    <p *ngIf="errorMessage">{{ errorMessage }}</p>
  </div>
</div>